.navbar{
    padding: 0;
}
.picarrotNavbar{
    display: flex;
    justify-content: center;
    overflow: hidden;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);;
    border-bottom: black;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 100;
}

.picarrot{
    position: fixed;
    left: 10px;
}
.navbar-picarrotIcon{
    width: 4em;
}
.navbar-picarrotTitle{
    width: 12em;
}
.navbar-search-user{
    padding-top: 5px;
    width: 60%;
    max-width: 600px;
    text-align: center;
}

.navbar-search-user label{
    width: 100%;
}
.navbar-profile{
    position: fixed;
    right: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.btnLogin{
    position: fixed;
    right: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.avatar{
    margin: 10px;
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.block-add-post{
    margin-left: 5%;
}
.btn-add-post{
    border-radius: 10px;
    margin-bottom: 5px;
    width: 40%;
    height: 40px;
    font-size: larger;
    font-weight: bold;
    background: linear-gradient(to right,#24bb8b,#f1adad,#eb548c);
    border: 0;}
    @media (max-width: 500px) {
        .btn-add-post{
           width: 100%;
        }

    }
