<nav class="navbar navbar-default">
    <div class="container-fluid picarrotNavbar">
        <div class="picarrot">
            <div routerLinkActive="active">
                <a routerLink="posts" href="#">
                    <img class="navbar-picarrotIcon" src="assets/img/picarrotLogo.png">
                    <img *ngIf="!mobile" class="navbar-picarrotTitle" src="assets/img/picarrotTitle.png">
                </a>
            </div>
        </div>
        <div class="navbar-search-user">
            <label>
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
            </label>
            <button class="btn-primary btn-add-post" (click)="onNewPost()">Je crée un post !</button>
        </div>

        <div class="navbar-profile" [routerLink]="['/profile/profile/user']">
            <div *ngIf="!mobile">{{userName}}</div>
            <img class="avatar" src="/assets/img/chalderiate.jpg">
        </div>
    </div>
</nav>
