<div class="profil-content">
    <div class="content">
        <div class="header">Les personnes que je follow</div>
        <hr>
        <div class="list-group" *ngFor="let user of users; let i = index">
            <div class="personnal-informations-block" routerLink="/profile/profile/{{user.user_login}}">
                <div class="profil-image">
                    <img src="/assets/img/chalderiate.jpg">
                </div>
                <div class="profil-info-content">
                    <div class="profil-name">{{user.user_name}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
