.profil-content{
    margin-top: 15%;
}
.list-group{
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    border-radius: 0.25rem;
    align-items: center;
}
.profil-image img{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    margin: 20px;
}
.personnal-informations-block{
    background-color: white;
    display: flex;
    flex-direction: row;
    margin: 10px;
    align-items: center;
    width: 100%;
    max-width: 500px;
    border-radius: 20px;
}
.profil-name{
    font-size: 28px;
}
.header{
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    color: #24bb8b;
}
hr{
    text-align: center;
    width:50%;
    border-color: #ea4987;
    border-top-width: thick;
}
@media (max-width: 500px) {
    .profil-content{
        margin-top: 30%;
    }

}
