.create-post{
    margin-top: 15%;
}

.new-post-title{
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    color: #24bb8b;
}
hr{
    text-align: center;
    width:50%;
    border-color: #ea4987;
    border-top-width: thick;
}
@media (max-width: 500px) {
    .create-post{
        margin-top: 30%;
    }
    .new-post-title{
        font-size: 25px;
    }
}
