<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <div class="create-post">
            <div class="new-post-title">Créer un  nouveau post</div>
            <hr>
            <form [formGroup]="postForm" (ngSubmit)="onSavePost()">
                <div class="form-group">
                    <label for="content">Contenu du post</label>
                    <input type="text" class="form-control" id="content" formControlName="content">
                </div>
                <div class="form-group">
                    Ajouter une photo
                    <input type="file" (change)="detectFiles($event)" class="form-control" accept="image/*">
                    <p class="text-success" *ngIf="fileUploaded">Fichier chargé !</p>
                </div>
                <button class="btn btn-success"
                        [disabled]="loadedFile == undefined"
                        type="submit" (click)="onUploadFile()">Enregistrer</button>
            </form>
        </div>
    </div>
</div>
