<div class="main">
    <div class="row">
        <div class="col-xs-12">
            <div class="list-group" *ngIf="followedPosts != undefined">
                <div [ngClass]="{'list-group-item-successst-group-item' : true,
                      'l' : buttonLove === 'like',
                      'list-group-item-danger' : buttonLove === 'dislike'}"
                     *ngFor="let post of getSortedPosts(followedPosts); let i = index">
                    <div [ngClass]="{'post' : post.share == undefined,
                     'share' : (post.share != undefined) && (post.post != undefined),
                     'empty-share' : (post.share != undefined) && (post.post == undefined)}">
                        <div class="post-block" *ngIf='post.post != undefined'>
                            <div class="share-user" *ngIf='post.share != undefined'>
                                <div class="share-message">{{ post.share_user.user_name }} a partagé ce post le {{ post.date | date : 'longDate'}}</div>
                                <button class="btn btn-primary btn-del-share"
                                        (click)="onDeleteShare(post.share)"
                                        *ngIf="post.share_user.uuid_user == authId">
                                    Supprimer ce partage
                                </button>
                            </div>
                            <div [ngStyle]="{color : 'black'}" *ngIf="post.post != undefined">
                                <div class="editor-informations" (click)="onProfile(post.author.user_login)">
                                    <img class="editor-information-image" src="assets/img/chalderiate.jpg">
                                    <p id="editor-name">{{post.author.user_name}}</p>
                                    <p id="date-publication">Date de publication : {{ post.post.post_date | date : 'longDate'}}</p>
                                </div>
                                <img class="post-image" src="assets/img/chalderiate.jpg" alt="" *ngIf="post.post.img == undefined"
                                [routerLink]="['./details/',post.post.uuid_post]">
                                <img class="post-image" [src]=post.post.img alt="" *ngIf="post.post.img != undefined"
                                [routerLink]="['./details/',post.post.uuid_post]">
                                <div class="buttons-section">
                                    <button class="btn btn-love"
                                            (click)="onLove(post)">
                                        <fa-icon [icon]="faHeart"></fa-icon>
                                        <p>{{post.nbLikes}}</p>
                                    </button>
                                    <button class="btn btn-comment">
                                        <fa-icon [icon]="faComment"></fa-icon>
                                        <p>{{post.nbComments}}</p>
                                    </button>
                                    <button class="btn btn-share"
                                            (click)="onShare(post)">
                                        <fa-icon [icon]="faShare"></fa-icon>
                                        <p>{{post.nbShares}}</p>
                                    </button>
                                </div>
                                <div class="post-content">
                                    <p class="list-group-item-text">{{post.author.user_name}} dit : {{ post.post.post_content }}</p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="list-group">
                <div *ngFor="let post of getSortedPosts(otherPosts); let i = index">
                    <div [ngClass]="{'post' : post.share == undefined,
                    'share' : (post.share != undefined) && (post.post != undefined),
                    'empty-share' : (post.share != undefined) && (post.post == undefined)}">
                        <div class="post-block">
                            <div class="share-user" *ngIf='post.share != undefined'>
                                <div class="share-message">{{ post.share_user.user_name }} a partagé ce post le {{ post.date | date : 'longDate'}}</div>
                                <button class="btn btn-primary btn-del-share"
                                        (click)="onDeleteShare(post.share)"
                                        *ngIf="post.share_user.uuid_user == authId">
                                    Supprimer ce partage
                                </button>
                            </div>
                            <div [ngStyle]="{color : 'black'}" *ngIf="post.post != undefined">
                                <div class="editor-informations" (click)="onProfile(post.author.user_login)">
                                    <img class="editor-information-image" src="assets/img/chalderiate.jpg">
                                    <p id="editor-name">{{post.author.user_name}}</p>
                                    <p id="date-publication">Date de publication : {{ post.post.post_date | date : 'longDate'}}</p>
                                </div>
                                <img class="post-image" src="assets/img/chalderiate.jpg" alt="" *ngIf="post.post.img == undefined"
                                [routerLink]="['./details/',post.post.uuid_post]">
                                <img class="post-image" [src]=post.post.img alt="" *ngIf="post.post.img != undefined"
                                [routerLink]="['./details/',post.post.uuid_post]">
                                <div class="buttons-section">
                                    <button class="btn btn-love"
                                            (click)="onLove(post)">
                                        <fa-icon [icon]="faHeart"></fa-icon>
                                        <p>{{post.nbLikes}}</p>
                                    </button>
                                    <button class="btn btn-comment">
                                        <fa-icon [icon]="faComment"></fa-icon>
                                        <p>{{post.nbComments}}</p>
                                    </button>
                                    <button class="btn btn-share"
                                            (click)="onShare(post)">
                                        <fa-icon [icon]="faShare"></fa-icon>
                                        <p>{{post.nbShares}}</p>
                                    </button>
                                </div>
                                <div class="post-content">
                                    <p class="list-group-item-text">{{post.author.user_name}} dit : {{ post.post.post_content }}</p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
