.head{
    margin-top: 10%;
}
.row{
    justify-content: center;
}
.post-block{
    border-radius: 10px;
    margin-top: 5%;
    background-color: #f6f6f6;
    height: auto;
    max-width: 500px;
    margin-bottom: 20px;
    text-align: center;
    box-shadow: 1px 1px 8px #535353;
}
.post-block p{
    text-align: left;
}
.post-image{
    width: 100%;
    max-height: 500px;
    text-align: center;
}
.post-content{
    margin-top: 5px;
    background-color: white;
    border: 1px solid #e7e7e7;
    max-height: 100px;
}
.post-content p{
    padding-left: 10px;
    padding-top: 5px;
}
.editor-informations{
    padding-top: 10px;
    display: flex;
    font-size: 20px;
    color: black;
    justify-content: space-between;

}
.editor-img-name{
    display: flex;
}
.editor-date-delete{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.editor-information-image{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin: 0 10px 5px 5px;
}
#editor-name{
    margin-right: 20px;
}
#author-name{
    margin-top: 0;
    margin-bottom: 0;
}
#date-publication{
    font-size:11px ;
    color: gray;
    margin-left: auto;
    padding-right: 10px;
}
.form-comment{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.buttons-section{
    display: flex;
}
.buttons-section .btn{
    display: flex;
}
fa-icon{
    margin: 0 10px 0 10px
}
.btn-love{
    color: #ea4987;
    font-size: 25px;
    filter:drop-shadow(1px 1px 0.2px grey);
}
.btn-comment{
    color: #35a0fd;
    font-size: 25px;
    filter:drop-shadow(1px 1px 0.2px grey)
}
.btn-post-comment{
    width: max-content;
    border-radius: 10px;
}
.btn-share{
    color: #1ac192;
    font-size: 25px;
    filter:drop-shadow(1px 1px 0.2px grey)
}
.btn-del-share{
    margin-right: 5px;
    margin-top: 5px;
    width: 120px;
    height: 20px;
    padding-top: 3px;
    font-size: 10px;
    background-color: indianred;
    border: 0;
}
.btn p{
    margin-bottom: 0!important;
}
.btn-edit-comment{
    width: max-content;
    border-radius: 10px;
    background-color: gray;
    border: 0;
    font-size: 10px;
}
.btn-del-comment{
    width: max-content;
    border-radius: 10px;
    background-color: #ff4040;
    border: 0;
    font-size: 10px;
}
.comment-block-commentary{
    margin-left: 5px;
    width: 100%;
}
.comment-author-text{
    padding-top: 13px;
    font-size: 12px;
    color: #525252;
}
.author-information-image{
    margin: 10px 10px 5px 5px;
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.comments-section{
    margin-top: 5px;
    background-color: #f6f6f6;
    border: 1px solid #e7e7e7;
}
.comments-list{
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: white;
    border: 1px solid #e7e7e7;
}
.author-informations{
    display: flex;
    flex-wrap: wrap;
}
#commentary{
    margin-bottom: 0;
}
