<div class="main">
    <div class="row">
        <div class="col-xs-12">
            <div class="list-group">
                <div class="post-block" *ngIf="(post != undefined) && (postUser != undefined)">
                    <div [ngStyle]="{color : 'black'}" *ngIf="post.post != undefined">
                        <div class="editor-informations" (click)="onProfile(postUser.user_login)">
                            <!--                                <img *ngIf="user.user_imageurl" src="{{user.user_imageurl}}">-->
                            <div class="editor-img-name">
                                <img class="editor-information-image" src="assets/img/chalderiate.jpg">
                                <p id="editor-name">{{postUser.user_name}}</p>
                            </div>
                            <div class="editor-date-delete">
                                <div id="date-publication">Date de publication
                                    : {{ post.post.post_date | date : 'longDate'}}</div>
                                <button class="btn btn-primary btn-del-share"
                                        (click)="onRemovePost()"
                                        *ngIf="authorView">
                                    Supprimer le post
                                </button>
                            </div>
                        </div>
                        <img class="post-image" [src]=post.post.img alt="">
                        <div class="buttons-section">
                            <button class="btn btn-love"
                                    (click)="onLove()">
                                <fa-icon [icon]="faHeart"></fa-icon>
                                <p>{{post.nbLikes}}</p>
                            </button>
                            <button class="btn btn-comment">
                                <fa-icon [icon]="faComment"></fa-icon>
                                <p>{{post.nbComments}}</p>
                            </button>
                            <button class="btn btn-share"
                                    (click)="onShare()">
                                <fa-icon [icon]="faShare"></fa-icon>
                                <p>{{post.nbShares}}</p>
                            </button>
                        </div>
                        <div class="post-content" *ngIf="!authorView">
                            <p class="list-group-item-text">{{postUser.user_name}} dit
                                : {{ post.post.post_content }}</p>
                        </div>
                        <form class="post-content" [formGroup]="changeContentForm" (ngSubmit)="onEditContent()"
                              *ngIf="authorView">
                            <textarea type="text" id="content" class="form-control"
                                      formControlName="content"></textarea>
                            <button class="btn btn-primary" type="submit">Modifier</button>
                        </form>
                        <form class="form-comment" [formGroup]="newCommentForm" (ngSubmit)="onPostComment()">
                            <textarea type="text" id="comment" class="form-control" formControlName="comment"
                                      placeholder="Votre commentaire"></textarea>
                            <button class="btn btn-primary btn-post-comment" type="submit">Poster un commentaire
                            </button>
                        </form>
                        <div class="comments-section"
                             *ngIf="(post.nbComments > 0) && (commentaires.length == post.nbComments)">
                            <div class="comments-list" *ngFor="let comment of commentaires ; let i = index">
                                <div class="author-informations" *ngIf="authId != comment.comment.uuid_user">
                                    <div class="comment-block-author">
                                        <img class="author-information-image" src="assets/img/chalderiate.jpg">
                                    </div>
                                    <div class="comment-author-text">
                                        <p id="author-name">{{comment.author.user_name}}</p>
                                        <p id="author-name">Date de publication
                                            : {{ comment.comment.comment_date | date : 'longDate'}}</p>
                                    </div>
                                    <div class="comment-block-commentary">
                                        <p id="commentary">Commentaire : </p>
                                        <p>{{ comment.comment.comment }}</p>
                                        <p id="comment-edit-date"
                                           *ngIf="comment.comment.comment_edit_date != undefined">Modifié le
                                            : {{ comment.comment.comment_edit_date | date : 'longDate'}}</p>
                                    </div>
                                </div>
                                <div class="author-informations" *ngIf="authId == comment.comment.uuid_user">
                                    <div class="comment-block-author">
                                        <img class="author-information-image" src="assets/img/chalderiate.jpg">
                                    </div>
                                    <div class="comment-author-text">
                                        <p id="author-name">{{comment.author.user_name}}</p>
                                        <p id="author-name">Date de publication
                                            : {{ comment.comment.comment_date | date : 'longDate'}}</p>
                                    </div>
                                    <div class="comment-block-commentary">
                                        <p id="commentary">Commentaire :</p>
                                        <form class="form-comment" [formGroup]="comments.controls[i]"
                                              (ngSubmit)="onEditComment(i,comment.comment)">
                                            <textarea [formControl]="comments.controls[i]" type="text" id="comment"
                                                      class="form-control"></textarea>
                                            <button class="btn btn-primary btn-edit-comment" type="submit">Modifier votre commentaire</button>
                                            <p id="comment-edit-date"
                                               *ngIf="comment.comment.comment_edit_date != undefined">Modifié le
                                                : {{ comment.comment.comment_edit_date | date : 'longDate'}}</p>
                                            <button class="btn btn-primary btn-del-comment" (click)="onRemoveComment(comment.comment)">Supprimer</button>
                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
