<div class="main">
    <div class="row">
        <div class="col-xs-12">
            <div class="list-group" *ngIf="posts != undefined">
                <div [ngClass]="{'list-group-item-successst-group-item' : true}"
                     *ngFor="let post of getSortedPosts(); let i = index">
                    <div [ngClass]="{'post' : post.share == undefined,
                    'share' : (post.share != undefined) && (post.post != undefined),
                    'empty-share' : (post.share != undefined) && (post.post == undefined)}">
                        <div class="post-block" *ngIf='post.post != undefined'>
                            <div class="share-user" *ngIf='post.share != undefined'>
                                <div class="share-message">{{ post.share_user.user_name }} a partagé ce post le {{ post.date | date : 'longDate'}}</div>
                                <button class="btn btn-primary btn-del-share"
                                        (click)="onDeleteShare(post.share)">
                                    Supprimer ce partage
                                </button>
                            </div>
                            <div [ngStyle]="{color : 'black'}">
                                <div class="editor-informations">
    <!--                                <img *ngIf="user.user_imageurl" src="{{user.user_imageurl}}">-->
                                    <img class="editor-information-image" src="assets/img/chalderiate.jpg" (click)="onProfile(post.author.user_login)">
                                    <p id="editor-name">{{post.author.user_name}}</p>
                                    <p id="date-publication">Date de publication : {{ post.post.post_date | date : 'longDate'}}</p>
                                </div>
                                <img class="post-image" src="assets/img/chalderiate.jpg" alt="" *ngIf="post.post.img == undefined">
                                <img [routerLink]="['/posts/details/',post.post.uuid_post]" class="post-image" [src]=post.post.img alt="" *ngIf="post.post.img != undefined">
                                <div class="buttons-section">
                                    <button class="btn btn-love"
                                            (click)="onLove(post)">
                                        <fa-icon [icon]="faHeart"></fa-icon>
                                        <p>{{post.nbLikes}}</p>
                                    </button>
                                    <button class="btn btn-comment">
                                        <fa-icon [icon]="faComment"></fa-icon>
                                        <p>{{post.nbComments}}</p>
                                    </button>
                                    <button class="btn btn-share"
                                            [disabled]="btnshareStatement"
                                            (click)="onShare(post)">
                                        <fa-icon [icon]="faShare"></fa-icon>
                                        <p>{{post.nbShares}}</p>
                                    </button>
                                </div>
                                <div class="post-content">
                                    <p class="list-group-item-text">{{post.author.user_name}} dit : {{ post.post.post_content }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="post-block" *ngIf='post.post == undefined'>
                            <p>Ce post a été supprimé.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
