.row{
    justify-content: center;
}
.post-block{
    border-radius: 10px;
    background-color: #f6f6f6;
    height: auto;
    max-width: 500px;
    margin-bottom: 20px;
    text-align: center;
    box-shadow: 1px 1px 8px #a4a4a4;
}
.post-block p{
    text-align: left;
}
.post-image{
    width: 100%;
    max-height: 500px;
    text-align: center;
}
.post-content{
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-top: 5px;
    background-color: white;
    border: 1px solid #e7e7e7;
    max-height: 100px;
}
.post-content p{
    padding-left: 10px;
    padding-top: 5px;
}
.editor-informations{
    padding-top: 10px;
    display: flex;
    font-size: 20px;
    color: black;
    align-items: center;

}
.editor-information-image{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin: 0 10px 5px 5px;
}
#editor-name{
    margin-right: 20px;
}

#date-publication{
    font-size:11px ;
    color: gray;
    margin-left: auto;
    padding-right: 10px;
}

.buttons-section{
    display: flex;
}
.buttons-section .btn{
    display: flex;
}
fa-icon{
    margin: 0 10px 0 10px
}
.share-user{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.btn-love{
    color: #ea4987;
    font-size: 25px;
    filter:drop-shadow(1px 1px 0.2px grey);
}
.btn-comment{
    color: #35a0fd;
    font-size: 25px;
    filter:drop-shadow(1px 1px 0.2px grey)
}
.btn-share{
    color: #1ac192;
    font-size: 25px;
    filter:drop-shadow(1px 1px 0.2px grey)
}
.btn-del-share{
    font-size: 8px;
    margin-right: 5px;
    margin-top: 5px;
    width: 120px;
    height: 20px;
    padding-top: 3px;
    background-color: indianred;
    border: 0;
}
.btn p{
    margin-bottom: 0!important;
}

.share-message{
    text-align: left;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 13px;
    color: #525252;
}
