<div class="list-group" *ngIf="profile">
    <div class="personnal-informations-block">
        <div class="imgPicture">
            <div class="profil-image">
                <img src="{{profilePicture}}">
            </div>
            <div>
                <div class="btn btn-primary btnLogin" (click)="logout()" *ngIf="userSession">Déconnexion</div>
            </div>
        </div>
        <div class="profil-info-content">
            <div class="info-user">
                <div class="name-block">
                    <div class="profil-name">{{profile.user_name}}</div>
                    <button class="btn btn-primary btn-edit-profile"
                            (click)="editProfile()" *ngIf="userSession">
                        Modifier le profil
                    </button>
                </div>
                <div class="profil-subinfo">Lieu : {{profile.user_location}}</div>
                <div class="profil-subinfo">Né(e) le {{ profile.user_birthdate | date : 'longDate'}}</div>
                <div class="profil-subinfo">E-mail: {{profile.user_email}}</div>
            </div>
            <div class="follow-block">
                <div class="profil-follow">Follow : {{nbFollow}}</div>
                <div class="profil-follower">Followers : {{nbFollower}}</div>
                <div class="blockButon">
                <button class="btn btn-primary btn-edit-profile"
                        (click)="seeFollows()">
                    Voir mes follows
                </button>
                <button class="btnFollow" [ngClass]="{'followup' : userFollowed == true,
        'unfollow' : userFollowed== false }"
                        (click)="followClick()" *ngIf="!userSession">
                    {{userFollowed == true ? 'Unfollow' : (userFollowed == false ? 'Follow' : 'Hello')}}
                </button>
                </div>
            </div>
            <div class="profil-description">Description : {{profile.user_description}}</div>
        </div>
    </div>
    <app-profile-posts profileId={{profile.uuid_user}}></app-profile-posts>

</div>
