.list-group{
    margin-top: 15%;
}
ul{
    list-style-type: none;
}
.personnal-informations-block{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.profil-info-content{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}
.name-block{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.btn-edit-profile{
    width: 130px;
    background-color: #24bb8b;
    border: 0;
    max-height: 29px;
    font-size: 14px;
    padding-top: 3px;
}

.profil-subinfo{
    font-size: 13px;
}
.profil-name{
    font-size: 35px;
}

.profil-image img{
    max-height: 150px;
    max-width: 150px;
    border-radius: 50%;
    margin: 0 10px 5px 5px;
}
.imgPicture{
    display: flex;
    flex-direction: column;
}
.info-user{
    display: flex;
    flex-direction: column;
}
.follow-block{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}
.follow-block:last-child{
    margin-right: 0;
}
.profil-follower{
    margin-left: 20%;
}
.btnFollow{
    margin-top: 10px;
    max-width: 60px;
    font-size: 10px;
    height: 20px;
    background-color: #ff699a;
    color: white;
}
.blockButon{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
 @media (max-width: 500px) {
     .profil-image img{
         max-width: 60px;
         max-height: 60px;
     }
     .list-group{
         margin-top: 30%;
     }
     .btnLogin{
         width: 75px;
         height: 23px;
         font-size: 8px;
     }
     .profil-name{
         font-size: 20px;
     }
     .btn-edit-profile{
         width: 75px;
         height: 30px;
         font-size: 8px;
     }
     .profil-subinfo{
         font-size: 10px;
     }
     .profil-follow{
         font-size: 10px;
     }
     .profil-follower{
         font-size: 10px;
     }
     .profil-description{
         font-size: 10px;
     }

 }
