.list-group{
    margin-top: 10%;
}
.header{
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    color: #24bb8b;
}
hr{
    text-align: center;
    width:50%;
    border-color: #ea4987;
    border-top-width: thick;
}
ul{
    list-style-type: none;
}
.form-group-content{
    width: 100%;
    text-align: -webkit-center;
}
.btn-save{
    border-radius: 10px;
    margin-bottom: 5px;
    max-width: 150px;
    width: 40%;
    height: 40px;
    font-size: larger;
    font-weight: bold;
    background: #24bb8b;
    border: 0;
    margin-top: 5px;
}
.btn-back{
    margin-left: 20px;
    border-radius: 10px;
    margin-bottom: 5px;
    max-width: 150px;
    width: 40%;
    height: 40px;
    font-size: larger;
    font-weight: bold;
    background: #c23e71;
    border: 0;
    margin-top: 5px;
}
.text-block{
    width: 100%;
    max-width: 300px;
}
.text-block-desc{
    max-width: 500px;
    width: 100%;
}
.block-info{
    margin-bottom: 30px;
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
