<div class="list-group" *ngIf="profile">
    <div class="header">Modifier mes informations personnelles</div>
    <hr>
    <form class="form-group-content" [formGroup]="saveChanges" (ngSubmit)="saveChange()">
        <div class="block-info">
            <label for="login">Nom d'utilisateur</label>
            <input type="text" id="login" class="form-control text-block"  formControlName="login">
        </div>
        <div class="block-info">
            <label for="name">Nom - prénom</label>
            <input type="text" id="name" class="form-control text-block" formControlName="name">
            <label for="location">Adresse</label>
            <input type="text" id="location" class="form-control text-block" formControlName="location">
            <label for="birthdate">Date de naissance</label>
            <input type="date" class="form-control text-block"  id="birthdate" name="birthdate"
                [ngModel]="profile.user_birthdate | date:'yyyy-MM-dd'"  formControlName="birthdate">
            <label for="email">E-mail</label>
            <input type="text" id="email" class="form-control text-block" formControlName="email">
        </div>
        <div class="block-info">
            <label>Ma biographie</label>
            <textarea type="text" id="description" class="form-control text-block-desc" formControlName="description"></textarea>
        </div>
        <button class="btn btn-primary btn-save" type="submit">Enregistrer</button>
        <button class="btn btn-primary btn-back" (click)="backToProfile()">Retour</button>
    </form>
    
</div>
